
header, nav, main, footer {
    margin: 1.25em auto;
    max-width: 760px;
}
header,footer {
    background-color: hsl(41, 98%, 67%);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 1.5rem;
}
img {
    margin: 10px;
    border: 1px solid black;
    width: 200px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 0 20px black;
}
h2 {
    border-bottom: 2px solid black;
}
ul {
}

